*{
    margin: 0;
    padding: 0;
}        
body{
    background-image: url(../form/image2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1200px;
}
h1{
    color: white;
    text-align: center;
    font-style: italic;
}
h2{
    color: white;
    text-align: center;
    font-style: italic;
}
label{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
#ma{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
#ch{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
.reg{
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: rgb(0,0,0,0.5);
}
#signup{
    width: 250px;
    outline: 0;
    padding: 5px;
    font-size: 18px;
    font-style: italic;
    background-color: #cdd4da;
    border: 3px solid #9fabb6;
    color: white;
    border-radius: 5px;
}
#sign{
    width: 250px;
    outline: 0;
    padding: 5px;
    font-size: 18px;
    font-style: italic;
    float: right;
    background-color: #cdd4da;
    border: 3px solid #9fabb6;
    color: white;
    border-radius: 5px;
}
#sign:hover{
    background-color: #6b87a0;
}
#signup:hover{
    background-color: #6b87a0;
}
buttons{
    padding: 20px;
    padding-bottom: 15px;
}
#reg{
    margin: auto;
    width: 50%;
}
.buttons{
    padding: 20px;
}
#name{
    width: 300px;
    padding: 5px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 3px solid #9fabb6;
}
#text{
    background: none;
    border: 3px solid #9fabb6;
    padding: 5px;
    border-radius: 5px;
}
#sub{
    width: 300px;
    padding: 5px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 3px solid #9fabb6;
    background-color: #7ec07e;
    color: white;
    font-size: 18px;
    font-style: italic;
}
#sub:hover{
    background-color: #028d02;
}